  html{
  display: grid;
  justify-content: center;
  background: rgb(176,255,177);
  background: radial-gradient(circle, rgba(176,255,177,1) 0%, rgba(70,101,252,1) 100%);
  }

   body {
    display: grid;
    justify-content: center;
    }
  
  body, div, form, input{ 
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
  }

  p{
    outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  }
  
  form {
  margin: 0 30px;
  }
  input[type=text]{
  height: 36px;
  margin: 13px 0 0 -5px;
  padding-left: 10px; 
  border-radius: 0 5px 5px 0;
  border: solid 1px #0020ee; 
  color: rgb(0, 0, 0);
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  background: #fff; 
  }

   img {
    height: 15%;
    width: 15%;
  }
  
  button {
  width: 30%;
  padding: 10px 0;
  margin: 10px auto;
  border-radius: 5px; 
  border: solid 1px #00c6ee;
  background: #006db0; 
  font-size: 14px;
  font-weight: 600;
  color: rgb(172, 242, 253);
  }
  button:hover {
  background: #26a9e0;
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  select {
    background-color: white;
    color: #0563af;
    padding: 12px;
    height: 5%;
    width: 10%;
    border: #0563af;
    font-size: auto;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
